#!/usr/bin/env bash

# This file is used to set the environment for the project.

if ! has uv; then
    echo "uv is not installed. Please install it first."
    exit 1
fi
if ! has node >/dev/null 2>&1; then
    echo "node is not installed. Please install it first."
    exit 1
fi
if ! has npm >/dev/null 2>&1; then
    echo "npm is not installed. Please install it first."
    exit 1
fi

PATH_add scripts/
PATH_add .venv/bin
PATH_add node_modules/.bin

if [ ! -d .venv ] || [ ! -d node_modules ]; then
    uv venv .venv
    if [ ! -f .venv/bin/activate ]; then
        echo "Failed to create virtual environment"
        exit 1
    fi
    # shellcheck disable=SC1091
    source .venv/bin/activate
    # Installs dependencies
    uv run scripts/devtool devtool
else
    # shellcheck disable=SC1091
    source .venv/bin/activate
fi

if [ ! -x .venv/bin/python ]; then
    ln -s "$(which python3)" .venv/bin/python
    ln -s "$(which pip3)" .venv/bin/pip
fi